[Unit]
Description=tcp echo to mqtt relay
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=e33b1711
ExecStart=/home/e33b1711/power_raspi/mqtt_relay.py

[Install]
WantedBy=multi-user.target