[Unit]
Description=tcp echo to mqtt relay
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ak
WorkingDirectory=/home/ak/power_raspi
Environment=PYTHONPATH=/home/ak/power_raspi
ExecStart=/home/ak/power_raspi/venv/bin/python mqtt_relay.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
