[Unit]
Description=power control
After=multi-user.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python3 /home/pi/power_raspi/power_control.py
Restart=on-abort


[Install]
WantedBy=multi-user.target
