[Unit]
Description=tcp echo to mqtt relay
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=20
User=ak
WorkingDirectory=/home/ak/power_raspi/relay
Environment=PYTHONPATH=/home/ak/power_raspi
ExecStart=/home/ak/power_raspi/venv/bin/python relay_server.py

[Install]
WantedBy=multi-user.target
