[Unit]
Description=wallbox pv control service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=openhabian
ExecStart=/home/openhabian/power_raspi/wallbox.py

[Install]
WantedBy=multi-user.target